/*.color-primary-0 { color: #6E685E }	Main Primary color 
.color-primary-1 { color: #909090 }
.color-primary-2 { color: #000000 }
.color-primary-3 { color: #FFE1B5 }
.color-primary-4 { color: #C8811A }

.color-secondary-1-0 { color: #6E6B5E }	Main Secondary color (1) 
.color-secondary-1-1 { color: #909090 }
.color-secondary-1-2 { color: #000000 }
.color-secondary-1-3 { color: #FFEEB5 }
.color-secondary-1-4 { color: #C89F1A }

.color-secondary-2-0 { color: #6E635E }	Main Secondary color (2) 
.color-secondary-2-1 { color: #909090 }
.color-secondary-2-2 { color: #000000 }
.color-secondary-2-3 { color: #FFCDB5 }
.color-secondary-2-4 { color: #C8531A } */
html, body {
	
    height: 100%;
}

html {
    display: table;
    margin: auto;
    background-image: /img/("woodBackground.jpg");
}
img {
	border: 3px solid #000000;
}

#content {
 
   
    padding : 1em;
    color : black;
    text-align: center;
}
.header-banner {
	text-align: center;
	background-color: #004011;
	
}

.footer-banner {
	background-color: #C8811A;
}

.homeSelection {
    text-align: center;
    padding : 1em;
    background-color : #7fbf90;
    border: 3px solid #000000; 
}

.table {
	background-color : #7fbf90;
	vertical-align: middle;
	
}

.form {
	background-color : #7fbf90;
	
}
;

body {
	
	width : 800px;
    background-color : #909090;
    color : black;
    display: table-cell;
    vertical-align: middle;
    
}

a {
	color : #000560;
}

a:visited {
	color : #6E6F70;
}

h2 {
	text-align: center;
	
	background-color :#105f25;
	color: #7fbf90;
	text-shadow: 1px 4px 2px #333;
}
.fieldGroup {
	margin-bottom : 8px;
}


#logo {
    
    height : 150px;
    margin-bottom : 1em;
    width : 800px;
}

/*

div.insertBox {
    padding : 1em;
    background-color : #DE8564;
}

div.insertBox h3 {
    margin : 0;
}

div.planet {
    overflow: auto;
}

div.planet img {
    height : 250px;
    width : 250px;
    margin-right : 1em;
    margin-bottom : 1em;
    float : left;
}



input {
	margin-right : 1em;
}

.errorMessage {
	color : red;
	text-align : center;
}

.copyright {
	width : 800px;
	color : white;
	text-align : center;
}

.result {
	font-size : 2em;
}

.topicList {
	list-style-type : none;
	border : 3px solid #7A2100;
	padding : 0;
}

.topicList li {
	padding : 5px;
}

.topicList .even {
	background-color : #DE8564;
}

.forumComment {
	border : 2px dotted #7A2100;
	margin-left : 1em;
	margin-bottom : 1em;
	padding : 0 1em 0 1em;
}
*/